absl-py==2.1.0
altair==5.5.0
altgraph==0.17.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.10.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asgiref==3.8.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==24.3.0
babel==2.17.0
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.8.2
blis==1.0.1
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.7.4
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
cloudinary==1.41.0
cloudpathlib==0.19.0
colorama==0.4.6
comm==0.2.2
confection==0.1.5
contourpy==1.2.1
cryptography==43.0.1
cycler==0.12.1
cymem==2.0.8
debugpy==1.8.11
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
Django==5.1
djangorestframework==3.15.2
dlib==19.24.4
dnspython==2.8.0
email-validator==2.3.0
emoji==2.15.0
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl#sha256=5e6329fe3fecedb1d1a02c3ea2172ee0fede6cea6e4aefb6a02d832dba78a310
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
executing==2.1.0
face-recognition==1.3.0
face_recognition_models==0.3.0
fastapi==0.128.0
fastjsonschema==2.21.2
filelock==3.15.4
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
flatbuffers==25.2.10
fonttools==4.53.1
fpdf==1.7.2
fpdf2==2.7.9
fqdn==1.5.1
fsspec==2024.9.0
fuzzywuzzy==0.18.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
googletrans==3.0.0
greenlet==3.3.0
grpcio==1.64.1
h11==0.16.0
h2==3.2.0
h5py==3.11.0
hpack==3.0.0
hstspreload==2024.11.1
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.25.1
hyperframe==5.2.0
idna==2.10
ipykernel==6.29.5
ipython==8.31.0
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keras==3.4.1
kiwisolver==1.4.5
langcodes==3.4.1
langdetect==1.0.9
language_data==1.2.0
Levenshtein==0.26.0
libclang==18.1.1
marisa-trie==1.2.1
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.4
ml-dtypes==0.3.2
mpmath==1.3.0
murmurhash==1.0.10
mysql-connector-python==9.0.0
namex==0.1.0
narwhals==1.20.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.1
nltk==3.9.1
notebook==7.4.5
notebook_shim==0.2.4
numpy==2.0.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.12.0
packaging==24.2
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pdfminer.six==20231228
pdfplumber==0.11.4
pefile==2023.2.7
pillow==10.3.0
platformdirs==4.2.2
preshed==3.0.9
prometheus_client==0.22.1
prompt_toolkit==3.0.48
protobuf==5.29.5
psutil==6.1.1
psycopg2-binary==2.9.11
pure_eval==0.2.3
pyarrow==18.1.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.19.2
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
PyMuPDF==1.24.10
PyMuPDFb==1.24.10
PyMySQL==1.1.1
pyparsing==3.1.2
PyPDF2==3.0.1
pypdfium2==4.30.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt5Designer==5.14.1
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
python-Levenshtein==0.26.0
python-multipart==0.0.21
pytz==2024.1
pywin32==308
pywin32-ctypes==0.2.2
pywinpty==3.0.0
PyYAML==6.0.2
pyzmq==26.2.0
RapidFuzz==3.10.0
referencing==0.35.1
regex==2024.9.11
reportlab==4.2.2
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.22.3
safetensors==0.4.5
scikit-learn==1.7.2
scipy==1.14.0
seaborn==0.13.2
Send2Trash==1.8.3
sentence-transformers==3.2.0
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
smart-open==7.0.5
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-lookups-data==1.0.5
SQLAlchemy==2.0.45
sqlparse==0.5.1
srsly==2.4.8
stack-data==0.6.3
starlette==0.50.0
streamlit==1.41.1
sympy==1.14.0
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-hub==0.16.1
tensorflow-intel==2.17.0
termcolor==3.1.0
terminado==0.18.1
textblob==0.19.0
tf_keras==2.16.0
thinc==8.3.2
threadpoolctl==3.5.0
tinycss2==1.4.0
tokenizers==0.20.3
toml==0.10.2
torch==2.5.1
torchaudio==2.5.1+cpu
torchtext==0.18.0
torchvision==0.20.1+cpu
tornado==6.4.2
tqdm==4.66.5
traitlets==5.14.3
transformers==4.46.2
typer==0.12.5
types-python-dateutil==2.9.0.20250822
typing_extensions==4.15.0
tzdata==2024.1
uri-template==1.3.0
urllib3==2.5.0
uvicorn==0.40.0
virtualenv==20.26.3
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
wheel==0.45.1
word2number==1.1
wordcloud==1.9.4
wrapt==1.17.3
