@import "tailwindcss";
.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}
.input-box {
  @apply w-full border border-gray-300 rounded-md px-4 py-3 focus:outline-none focus:ring-2 focus:ring-purple-500 bg-white;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}
